/* RESET */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

img {
    width: 100%;
}

text {
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* UTILITIES */

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

.col {
  flex: 1 1 calc(33.33% - 10px);
  border: 1px solid black;
  height: auto;
}

.tag {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.discount {
  background-color: red;
  color : white;
}

.green {
  background-color: green;
  color : white;
}

.price {
  font-weight: bold;
  color: red;
}

.price del {
  color: black !important;
  font-weight: normal;
}

